aiofiles @ git+https://github.com/phillmac/aiofiles@0.13.0dev0#egg=aiofiles
aiohttp==3.7.4.post0
aiojobs==0.3.0
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
calmjs==3.4.1
calmjs.parse==1.2.5
calmjs.types==1.0.1
certifi==2021.5.30
chardet==4.0.0
dagr_revamped @ git+https://github.com/phillmac/dagr_revamped@0.2.206.dev2#egg=dagr_revamped
deviantart @ git+https://github.com/phillmac/deviantart@c21ce195b466618ae16a9146412b3b713be71ef5#egg=deviantart
docopt==0.6.2
easywebdav==1.2.0
idna==2.10
lxml==4.6.3
MechanicalSoup==1.1.0
multidict==5.1.0
pluginbase==1.0.0
ply==3.11
portalocker==2.3.0
pybreaker==0.6.0
python-dateutil==2.7.5
python-dotenv==0.17.1
requests==2.25.1
requests-toolbelt==0.9.1
sanction==0.4.1
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
typing-extensions==3.10.0.0
urllib3==1.26.6
yarl==1.6.3
